<link rel="stylesheet" href="/css/home.css" />
<section class="vh-100">
  <form action="/uploadfile" enctype="multipart/form-data" method="post">
    <div class="container">
      <div class="container-heading">Upload File Here</div>
      <div class="text-area">
        <label for="image">Select Image </label>
        <input type="file" name="image" />
      </div>

      <input id="submit-button" type="submit" />
    </div>
  </form>
</section>
